
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

   
  <div class="sign-up-navbar">

    <%= link_to root_path do %>
                <i class="fas fa-sharp fa-light fa-arrow-left"></i> 
      <% end %> 
  
   <h2>REGISTER</h2>
   <div class="sign-up-submit">
    <%= f.submit "Next" %>
  </div>
  </div>
  <div class="sign-container">
  <div class="sign-up-input">
  <div class="upload-picture"> <i class="fa-solid fa-circle-user fa-2xl"></i> <h3>Upload picture</h3> </div>
  <div class="field">
  
  <%= f.text_field :full_name, autofocus: true, autocomplete: "name", placeholder: "Full Name" %>
</div>
<div class="field">
  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
</div>


  


  <div class="field">
    
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
  </div>


 
<% end %>

</div>

</div>

