<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="login-form-container">
    <div class="login-navbar"> 
     <%= link_to root_path do %>
        <i class="fas fa-sharp fa-light fa-arrow-left"></i> 
      <% end %> 
      <h2>LOG IN</h2> 
      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    </div>
    <div class="sign-container">
    <div class="field">
   
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
    </div>

  </div>
<%= render "devise/shared/links",class:"forgot-to-sign-in"%>
    
  </div>
<% end %>
